name: Pytest

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Check if tests exist
        id: check_tests
        run: |
          if [ -d "tests" ]; then
            echo "tests_exist=true" >> $GITHUB_OUTPUT
          else
            echo "tests_exist=false" >> $GITHUB_OUTPUT
            echo "No tests directory found, skipping tests."
          fi
      
      - name: Set up Python
        if: steps.check_tests.outputs.tests_exist == 'true'
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Install dependencies
        if: steps.check_tests.outputs.tests_exist == 'true'
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-asyncio aiohttp aioresponses
          pip install homeassistant
          
      - name: Run tests
        if: steps.check_tests.outputs.tests_exist == 'true'
        env:
          INVESTING_EMAIL: ${{ secrets.INVESTING_EMAIL }}
          INVESTING_PASSWORD: ${{ secrets.INVESTING_PASSWORD }}
          INVESTING_EMPTY_EMAIL: ${{ secrets.INVESTING_EMPTY_EMAIL }}
          INVESTING_EMPTY_PASSWORD: ${{ secrets.INVESTING_EMPTY_PASSWORD }}
        run: |
          export PYTHONPATH=$PYTHONPATH:$(pwd)
          pytest tests/
